.rojo{
    color:red;
}

ul{
    list-style: none;
}

li{
    margin:0;
    padding: 6px 14px;
}

li:hover{
    background: lightgray;
    cursor: pointer;
}

button{
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

button:hover{
    color: #1EAEDB;
}